.profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
        background-color: rgb(220, 220, 220);
        padding: 30px 50px;

        form {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            label {
                font-size: larger;
                margin-right: 15px;
            }

            button {
                padding: 5px 15px;
            }

            & > div {
                margin-bottom: 10px;
            }
        }
    }
}